body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  color:#00ccff
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label, input {
  margin-bottom: 10px;
}

button {
  background-color: #0074D9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#kurseListe {
  max-width: 500px;
  margin: 20px auto;
}
.menu {
  position: absolute;
  top: 10px;
  right: 10px;
  }
  
  .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  .menu li {
  display: inline;
  margin-right: 15px;
  }
  
  .menu li a {
  text-decoration: none;
  color: #00ccff ;
  font-weight: bold;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }